<h3>
    <img src="/static/images/task.png" class="avatar avatar">
    All tasks
</h3>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Task</th>
        <th>Provider</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#tasks}}
    <tr>
        <td>{{clazz}}</td>
        <td>{{providerName}}</td>
        <td>
            <a class="btn btn-primary" href="/tasks/{{clazz}}/view">View</a>
        </td>
    </tr>
    {{/tasks}}
    </tbody>
</table>



