<h2>View task </h2>

{{#task}}
Task is : {{name}} </br>
Input is: {{inputClazz}} </br>
Output is: {{outputClazz}} </br>
Type is: {{type}} </br>

{{#hasTaskDoc}}
<h3>Task Docs</h3>
<p><b>Description:</b>&nbsp;{{description}}</p>

{{#examples}}
<h5>Example #{{exampleNumber}}</h5>
<p>{{description}}</p>
<a class="btn btn-primary" href="/tasks/{{name}}/execute?example={{exampleNumber}}">Try example</a>
</br>
{{#hasInput}}
{{#input}}Input: {{example}}{{#description}}- {{.}} {{/description}}  </br>
JSON: {{{inputAsJson}}}</br>
{{/input}}
{{/hasInput}}
{{^hasInput}}Input: not provided </br> {{/hasInput}}


{{#hasOutput}}
Output: {{output}} </br>
JSON: {{{outputAsJson}}}</br>
{{/hasOutput}}
{{^hasOutput}}Output: not provided </br> {{/hasOutput}}

</br>
{{/examples}}

{{/hasTaskDoc}}

{{/task}}

