<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">


    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $(".submitButton").click(function(){
            $(this).addClass( "loading" );
           });
        });
</script>

    <script src="../../static/clipboard.js/dist/clipboard.min.js"></script>

    <title>Tasks UI</title>

</head>
<body>
<div>
    <span class="label label-default"><a href="/home">&lt;&lt;Home&gt;&gt;</a></span>
    <span class="float-right">
        <span class="label label-primary">{{#node}}{{identity}}{{/node}}</span>
        <span class="label label-secondary"><a href="/nodes/list">Switch node</a></span>
    </span>
</div>

{{#hasFlashMessage}}
<div class="label label-{{flashMessageType}} p-centered m-1"> *** {{flashMessage}} *** </div>
{{/hasFlashMessage}}


<div style="padding:20px">
    <!--BODYTEXT-->
</div>

</body>
</html>