<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/static/spectre/spectre-min.css">
    <link rel="stylesheet" href="/static/spectre/spectre-exp-min.css">
    <link rel="stylesheet" href="/static/spectre/spectre-icons-min.css">
    <link rel="stylesheet" href="/static/custom.css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $(".submitButton").click(function(){
            $(this).addClass( "loading" );
           });
        });
</script>

    <script src="../../static/clipboard.js/dist/clipboard.min.js"></script>

    <title>Tasks UI</title>

</head>
<body>
<header class="navbar colour-primary" style="baxckground-color: #9a1ee1;">
    <section class="navbar-section">
        <a href="/home" class="navbar-brand mr-2">Dreifa</a>
        <a href="https://github.com/dreifadotapp" class="btn btn-link">Docs</a>
        <a href="https://github.com/dreifadotapp" class="btn btn-link">GitHub</a>
    </section>
    <section class="navbar-section">
        <!--<div class="input-group input-inline">
            <input class="form-input" type="text" placeholder="search">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div>-->
    </section>
</header>

{{#hasFlashMessage}}
<div class="label label-{{flashMessageType}} p-centered m-1"> *** {{flashMessage}} *** </div>
{{/hasFlashMessage}}


<div style="padding:20px">
    <!--BODYTEXT-->
</div>

</body>
</html>