<div class="container">
    <div class="columns">
        <div class="column col-3">
            <h3>Dreifa Components</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
        <div class="column col-8">
            <div class="columns">
                <div class="column col-6 col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/task.png" class="img-responsive">
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">Tasks</div>
                            <div class="card-subtitle text-gray">Make things happen</div>
                        </div>
                        <div class="card-body">
                            Tasks are the basic building blocks.
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="/tasks">List Tasks</a>
                            <button class="btn btn-primary">Running Task</button>
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/pipeline.jpeg" class="img-responsive">
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">Pipeline</div>
                            <div class="card-subtitle text-gray">Running a sequence of Tasks</div>
                        </div>
                        <div class="card-body">
                            Pipelines combine a number of tasks
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Start a Pipeline</button>
                            <button class="btn btn-primary">Running Pipelines</button>
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/provider.jpeg" class="img-responsive">
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">Task Providers</div>
                            <div class="card-subtitle text-gray">Providers hold a bundle of Tasks</div>
                        </div>
                        <div class="card-body">
                            Lorem Ipsum
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="/providers/startRegistration">Register a Provider</a>
                            <a class="btn btn-primary" href="/providers">List Providers</a>
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/agents.jpeg" class="img-responsive">
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">Task Agents</div>
                            <div class="card-subtitle text-gray">Agents hold a bundle of Tasks</div>
                        </div>
                        <div class="card-body">
                            Lorem Ipsum
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="/providers/startRegistration">Register a Provider</a>
                            <a class="btn btn-primary" href="/providers">List Providers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
