<h3>Register a provider</h3>

<ul class="step" style="color: #65E11E;">
    <li class="step-item" >
        <a href="#" class="tooltip" data-tooltip="Step 1" >Select Jar</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 2" >Scan Jar</a>
    </li>
    <li class="step-item active">
        <a href="#" class="tooltip" data-tooltip="Step 3">Register</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 4">Done</a>
    </li>
</ul>
<br>

<h3>Register a provider</h3>

<p>Confirm that the following provider should be registered</p>

ProviderName: <b>{{providerClass}}</b> <br>
ProviderId: <b>{{providerId}}</b> <br>

<form action="/providers/{{bundleId}}/doRegister/{{providerClass}}" bind" method="post" enctype="multipart/form-data">
        <button type="submit" >Complete Registration</button>
</form>