<h3>
    <img src="/static/images/provider.jpeg" class="avatar avatar">
    Register Provider
</h3>

<p>Upload a Jar file. The file wll be scanned for <a href="/tasks"  style="color: #B673BF;">Tasks</a>, which can be then be registered</p>

<ul class="step" style="color: #65E11E;">
    <li class="step-item active" style="color: #5CAF50;">
        <a href="#" class="tooltip" data-tooltip="Step 1" >Select Jar</a>
    </li>
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 2">Scan Jar</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 3">Register</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 4">Done</a>
    </li>
</ul>
<br>

<form action="doScan" method="post" enctype="multipart/form-data">
    <p><input type="file" name="payload" >
    <p>
        <button type="submit" >Scan</button>
</form>