<h3>Register a provider</h3>

<ul class="step" style="color: #65E11E;">
    <li class="step-item">
        <a href="#" class="tooltip" data-tooltip="Step 1">Select Jar</a>
    </li>
    <li class="step-item active">
        <a href="#" class="tooltip" data-tooltip="Step 2">Scan Jar</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 3">Register</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 4">Done</a>
    </li>
</ul>
<br>

<p>Scanning <b>{{name}}</b> found the following <a
        href="https://github.com/dreifadotapp/tasks/blob/master/impl/src/main/kotlin/dreifa/app/tasks/TaskRegistration.kt">Task
    Providers</a></p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Class</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#registrations}}
    <tr>
        <td>{{.}}</td>
        <td>
            <a class="btn btn-primary" href="/providers/{{bundleId}}/register/{{.}}">Register</a>
        </td>
    </tr>
    {{/registrations}}
    </tbody>
</table>

