<h3>Register a provider</h3>

<ul class="step" style="color: #65E11E;">
    <li class="step-item" >
        <a href="#" class="tooltip" data-tooltip="Step 1" style="color: #5CAF50;">Select Jar</a>
    </li>
    <li class="step-item active">
        <a href="#" class="tooltip" data-tooltip="Step 2" style="color: #5CAF50;">Scan Jar</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 3">Register</a>
    </li>
    <li class="step-item ">
        <a href="#" class="tooltip" data-tooltip="Step 4">Done</a>
    </li>
</ul>
<br>

Name : {{name}} </br>
Size : {{size}} </br>
Registrations :
<ul>
    {{#registrations}}<li>{{.}}</li>{{/registrations}}
</ul>




